.dialogItem {
    padding-bottom: 8px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-bottom: 1px solid lightblue;
}
.dialogItem a {
    text-decoration: none;
    color: #285473;



}

.dialogItem .avatar {
 padding-top: 10px;

}

.dialogItem .avatar img {
    width: 40px;
    border-radius: 20px;
}

.dialogItem a.active {
    text-shadow: #878787 1px 0px 0;
    
}
.minDialog{
    padding-left: 15px;
    padding-top: 4px;

}