.users {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    min-height: 850px;
}

.pagesCounter {

    padding: 40px 0px 0px 0px;
    text-align: center;

}

.pagesCounter span {
    padding: 0px 10px 0px 10px;
}


.pagesCounter .selectedPage {
    cursor: pointer;
    font-weight: bold;
}

.pagesCounter .page {
    cursor: pointer;
}

.usersBlock {

    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    padding: 40px 0px 0px 40px;
}


.userAva_followButton {
    text-align: center;
    min-width: 100px;

}


.userAva_followButton .followUnfollowButton {

}


.userAva {

}


.userAva img {
    width: 60px;
    border-radius: 30px;
}


.userInfo {
    border: 1px solid black;
    border-radius: 5px;


    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 40px 40px;

}


.userInfo .userName {
    margin-left: 15px;
    margin-top: 10px;
}


.userInfo .status {
    margin-left: 15px;
    margin-top: 10px;
}


.userInfo .country {
    text-align: right;
    margin-right: 15px;
    margin-top: 10px;
}


.userInfo .city {
    text-align: right;
    margin-right: 15px;
    margin-top: 10px;
}



