
.postsBlock {
    padding: 10px 10px 10px 10px;
    min-height: 500px;

    margin-top: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

}

.posts {
    padding: 15px 0;

}