.addPost {
display: inline-block;
}
button:active {
    transform: scale(0.97);
}
.addPost textarea{
    min-width: 600px;
    vertical-align: middle;
    outline: none;
}

.button {
    padding-top: 10px;
    outline: none;
}

.button button {
    border-radius: 5px;
    background-color: #add8e6;
    height: 35px;
    width: 91px;
    border: 1px solid #347186;
    outline: none;
}

.button button:hover {
    background: #caf2ff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}



