.modalOverlay {

}


.modalWindow {
    position: absolute;
    left: 42%;
    top: 35%;
    width: 500px;
    height: 250px;
    border: 1px solid #56afcc;
    background-color: #e0f7ff;
    border-radius: 10px;


}


.modalHeader {
    padding: 10px 10px
}


.modalHeader .modalTitle {

    display: inline-block;

}
.modalHeader .modalTitle label{
    color: #047cb8;
}

.modalHeader .modalCloseIcon {
    display: inline-block;
    position: absolute;

    right: 10px;
}


.modalBody {
    padding: 50px 20px;
}


.modalBody input {
    min-width: 430px;
}


.modalFooter {

}

.submitButton, .cancelButton {
    display: inline-block;
    padding: 0px 55px;
}

.modalFooter button {
    border: 1px solid #347186;
    color: #000;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 40px 5px 40px;

}