.header {
    /*    position: fixed;
        width: 1200px;*/

    position: relative;
    grid-area: h;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;

}

.header .logo img {
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;

}

.loginBlock {
    float: right;
    min-height: 100%;
}

.unlogined {
    position: absolute;
    top: 20%;
    right: 15px;
}

.unlogined a {
    font-weight: bold;
    color: #047cb8;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.logined {
    position: absolute;
    top: 20%;
    right: 15px;

}

.logined  a {
    font-weight: bold;
    color: #047cb8;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.logined img {
    vertical-align: middle;
    cursor: pointer;
    height: 25px;
    padding-left: 10px;
    opacity:0.5;
}

.logined img:hover {

    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity:1;
}
