.header {
    /*    position: fixed;
        width: 1200px;*/

    position: relative;
    grid-area: h;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;

}

.header img {
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;

}

.loginBlock {
    float: right;
    min-height: 100%;
}

.unlogined {
    position: absolute;
    top: 20%;
    right: 15px;
}

.unlogined a {
    font-weight: bold;
    color: #047cb8;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.logined {
    position: absolute;
    top: 20%;
    right: 15px;

}

.logined a {
    font-weight: bold;
    color: #047cb8;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.logined span {
    font-weight: bold;
    color: rgba(4, 124, 184, 0.32);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.logined span:hover {
    font-weight: bold;
    color: #047cb8;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}