.profileInfo {
   /* padding-top: 10px;*/
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.description {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-left: 10px;
    padding: 15px;
}

.userName_status {
    border-bottom: 1px solid #e7e8ec;
    padding-bottom: 10px;
}

.userName_status input {
    min-width: 96%;


}.status :hover {
     background-color: lightblue;
    cursor: pointer;
 }



.description .userName {


    font-size: 24px;
    font-weight: bold;


}

.contactsHeader {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 10px;
    padding-bottom: 5px;
}

.firstContactBlock {
    padding-top: 5px;
}
.firstContactBlock input{
    width: 115px;
    padding: 0px 5px;
}


.secondContactBlock {
    padding-top: 5px;
}

.secondContactBlock input{
    width: 115px;
    padding: 0px 5px;
}




.about {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    padding-top: 10px;


}

.about img {
    width: 30px;
    vertical-align:middle;
    padding-right: 10px;

}
.about a {
 text-decoration: none;
    color: black;

}

.about .contactItem {
    padding-bottom: 10px;
    color: #a8a8a8;
}

.about .contactItemGray {
    padding-bottom: 10px;
    color: #a8a8a8;
    filter: grayscale(100%);
}



.job {
font-weight: bold;

}

.job span {
    font-weight: normal;
}

.avatarAndButtons {
    text-align: center;

    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);


}
.avatar {

}

.avatar img {
    vertical-align: bottom;
    min-width: 220px;
    min-height: 220px;
    margin: 10px;
    width: 200px;
}

.sendMessageButton {
    padding-bottom: 10px;

}

.sendMessageButton button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
}

.editPage {
    padding-bottom: 10px;
}


.editPage button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
}


.isFollow {
    padding-bottom: 10px;
}

.isFollow button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
}
.isNotFollow {
    padding-bottom: 10px;
}


.isNotFollow button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
}

.addPhoto {
    padding-bottom: 10px;
}
.addPhoto button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
}




.profileBackground {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 10px;

}

.profileBackground img {
    vertical-align: bottom;
    border-radius: 5px;
    width: 100%;

}

