.profileInfo {
    /* padding-top: 10px;*/
    display: grid;
    grid-template-columns: 3fr 9fr;
    cursor: default;
}
button {
    outline: none;
}
button:active {
    transform: scale(0.97);
}

.description {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-left: 10px;
    padding: 15px;
}

.userName_status {
    border-bottom: 1px solid #e7e8ec;
    padding-bottom: 10px;
}

.userName_status input {
    min-width: 96%;
}

.status :hover {
    background-color: lightblue;
    cursor: pointer;
}


.description .userName {
    font-size: 22px;
    font-weight: bold;

}

.contactsHeader {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

.firstContactBlock,
.secondContactBlock {
    padding-top: 5px;
}

.firstContactBlock input,
.secondContactBlock input {
    border-radius: 0px;
    width: 105px;
    padding: 2px 5px;
    font-size: 12px;
    outline: none;
}

.about {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    padding-top: 10px;
    position: relative;
}

.about img {
    width: 30px;
    vertical-align: middle;
    padding-right: 10px;
}

.about a {
    text-decoration: none;
    color: black;
}

.about .contactItem {
    padding-bottom: 10px;
    color: #a8a8a8;
}

.about .contactItemGray {
    padding-bottom: 10px;
    color: #a8a8a8;
    filter: grayscale(100%);
}

.aboutMe {
    font-weight: bold;;
}
.aboutMe span {
    font-weight: normal;
    padding-left: 10px;
}

.aboutMe textarea {
    margin: 0px;
    padding-left: 5px;
    width: 325px;
    height: 128px;
    border: 1px solid #347186;
    outline: none;
}

.jobAndButtons {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
    position: relative;
}

.job {
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    justify-content: center;
}

.job span {
    font-weight: normal;
    padding-left: 10px;
}

.job label {
    font-size: 16px;
}

.job input {
    width: 14px;
    margin-left: 8px;
    outline: none;
}

.lookingJobInput {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 154px;
    justify-content: center;
}

.lookingJobInput input {
    padding: 0px 0px 0px 5px;
    width: 164px;
    border-radius: 0px;
    margin-left: 10px;
}

.submitButton {
    position: absolute;
    top: -200px;
    right: 87px;
}

.submitButton button {
    width: 50px;
    height: 25px;
    border-radius: 3px;
    background-color: #047cb8;
    color: white;
    outline: none;
    border: 1px solid #347186;
}
.cancelButton {
    position: absolute;
    top: -200px;
    right: 19px;
}

.cancelButton button {
    width: 60px;
    height: 25px;
    border-radius: 3px;
    background-color: #047cb8;
    color: white;
    outline: none;
    border: 1px solid #347186;
}

.submitButton button:hover,
.cancelButton button:hover{
    background: #1ba9ec;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.avatarAndButtons {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}


.avatar img {
    vertical-align: bottom;
    min-width: 220px;
    min-height: 220px;
    margin: 10px;
    width: 200px;
}

.sendMessageButton {
    padding-bottom: 10px;

}

.sendMessageButton button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
    border: 1px solid #347186;
}

.editPage {
    padding-bottom: 10px;
}

.editPage button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
    border: 1px solid #347186;
}

.editPageEditionMode {
    padding-bottom: 10px;
}

.editPageEditionMode button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
    border: 1px solid #347186;
}


.isFollow {
    padding-bottom: 10px;
}

.isFollow button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #347186;
}

.isNotFollow {
    padding-bottom: 10px;
}


.isNotFollow button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
    border: 1px solid #347186;
}

.addPhoto {
    padding-bottom: 10px;
}

.addPhoto button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    background-color: #add8e6;
    border: 1px solid #347186;
}


.profileBackground {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 10px;
}

.profileBackground img {
    vertical-align: bottom;
    border-radius: 5px;
    width: 100%;
}

.errorAboutMe {
    position: absolute;
    left: 16px;
    top: 105px;
    color: red;
    text-align: center;
}

.errorAboutMe img {
    height: 30px
}

.errorJobDescription {
    position: absolute;
    left: 227px;
    top: 0px;
    min-width: 300px;
    text-align: center;
    background-color: white;
}

.contactsBottomErrorMessage {
    position: absolute;
    bottom: -20px;
    right: 0px;
    min-width: 334px;
    text-align: center;
    background-color: white;
}

.fullNameInput {
    position: absolute;
    top: 87px;
    background-color: #FFFFFF;


}

.fullNameInput input {
    border-radius: 0px;
    font-size: 22px;
    font-weight: bold;
    padding: 0px 0px 3px 5px;
    line-height: 1.2;
    width: 220px;
    height: 24px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


.errorFullName {
    position: absolute;
    left: 227px;
    top: 0px;
    min-width: 300px;
    text-align: center;
    background-color: white;
}


.sendMessageButton button:hover,
.isNotFollow button:hover,
.editPage button:hover,
.addPhoto button:hover{
    background: #caf2ff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}