.sender {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.messages {
    padding-bottom: 30px;

}

.messages .message {
    display: grid;
    grid-template-columns: 1fr 11fr;
    margin-top: -20px;

}

.senderName {
    font-weight: bold;
}

.senderAva {
    padding-top: 10px;
}

.senderAva img {
    width: 40px;
    border-radius: 20px;

}